<html ng-app="app">
	<head>
		<title>My Artwork</title>
		<link rel="stylesheet" href="css/style.css" />
	</head>
	<body>
		  <sign-up></sign-up>
		  <div id="signUp" ng-controller="signUp">
			<input class="signUp-input" placeholder="firstname" ng-model="fn"/>
			<hr>
			<input class="signUp-input" placeholder="lastname" ng-model="ln" />
			<hr>
			<input class="signUp-input"  type="email" placeholder="e-mail" ng-model="email"/>
			<hr>
			<input class="signUp-input" type="password" placeholder="password" ng-model="password"/>
			<hr>
			<input class="signUp-input" type="password" placeholder="retype password" ng-model="repassword" />
			<hr>
			<input name="f" type="radio" placeholder="gender" ng-model="gender" value="female"/>
			<label for="f" class="f-m">female</label>
			<hr>
			<input name="m" type="radio" placeholder="gender" ng-model="gender" value="male"/>
			<label for="m" class="f-m">male</label>
			<hr>
			<button ng-click="model()">send</button>
		  </div>
		
		
		
		
		
		<script src="js/angular.min.js"></script>
		<script src="APP/config.js"></script>
		<script src="APP/controllers/forms.js"></script>
		<script src="APP/directives/directive.js"></script>
		
	</body>
</html>