<div ng-controller="home"  id="home">
	<div id="head">
		<h1>Hey {{currentUser.fullname}}</h1>
		<p id="p-head">as an artist there`s many interesting things you should know,
		about famous artists , museums , hestories of art, tricks that can help you to become a big artist,
		recomanded courses, equepments..etc.  
		In our website you can find all these things  
		so good luck :)
	    </p>
	</div>
	<div>
		<a href="https://en.wikipedia.org/wiki/Pablo_Picasso"><div style="display:block; ">Pablo Picasso</div> 
		<img src="https://upload.wikimedia.org/wikipedia/commons/b/b8/Portrait_de_Picasso%2C_1908.jpg" style="width:212px;" />
		</a>
		<a href="http://www.tamuseum.org.il/he/default.aspx">
			<div style="display: block;"> Herta and Paul Amir Building  – Tel Aviv Museum Of Art</div>
			<img style="width:212px;" src="http://i1.wp.com/lh3.googleusercontent.com/-Ny9kBSlh95s/ULCWaf9hWHI/AAAAAAAANVE/YW-NYT1uSgY/s1600/Tel-Aviv-Herta-and-Paul-Amir-Museum-Of-Art-001.jpg?w=1280&ssl=1" />
		</a>
	</div>
</div>